.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/**/*.o
src/**/*.so
src/**/*.dll
src/Makevars
src/Makevars.win
src/sd/vocab.hpp
src/sd/vocab_mistral.hpp
src/sd/vocab_qwen.hpp
src/sd/vocab_umt5.hpp
sd2R.Rcheck/
TODO.md
